* {
  margin: 0;
  padding: 0;
}
html, body {
  scroll-behavior: smooth;
  /* width: 100%; */
  overflow-x: hidden;
  /* height: 100%; */
}
header {
  min-height: 0%;
}

h1 {
  color: rgb(52, 52, 52);
  font-family: "Lato", sans-serif;
  /* line-height: 1.3; */
  margin: 4px 0px;
  font-weight: 450;
  font-size: 1.65rem;
}

/*-------------------------------------Custom Scrool Bar----------------------------*/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
  background: rgb(224, 224, 224);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 162, 162);
}

/*-------------------------------------------Hamburger Navbar------------------------------------*/

#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 30px;
  visibility: hidden;
  cursor: pointer;
}
.bar {
  height: 5px;
  width: 100%;
  background-color: #00bfff;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.nav li a {
  color: white;
  padding: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
}
.nav li a:hover {
  font-weight: bold;
}
.nav li {
  list-style: none;
  padding: 16px 0;
}
.nav h1 {
  font-size: 2.5rem;
  padding: 5px;
  font-family: "Baloo Bhai 2", cursive;
}
.nav {
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
}
.menu-bg,
#menu-bar {
  top: 0;
  left: 0;
  position: absolute;
}
.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #00bfff, rgb(0, 204, 231));
  border-radius: 50%;
  transition: 0.3s ease;
}
#menu-bar {
  z-index: 2;
}
.change-bg {
  width: 550px;
  height: 540px;
  transform: translate(-60%, -30%);
}
.change .bar {
  background-color: white;
}
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}
.change #bar2 {
  opacity: 0;
}
.change {
  display: block;
}

/* Main Navbar */

#navbar {
  /* position: fixed; */
  top: 0;
  width: 100%;
  background-color: #00bfff;
  z-index: 1;
  /* display: none; */
}
.nav-items {
  /* display: flex; */
  padding: 8px;
}
.logo {
  padding: 5px 30px;
}
.logo h3 {
  margin: auto;
}
.links {
  align-self: center;
  justify-content: center;
  margin: 5px;
  display: flex;
}
.links a {
  padding: 5px 30px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.links a:hover {
  color: linen;
  transition: 0.8s;
}

#center-body {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 10px;
}
#locations_data {
  padding: 5px 20px 5px 20px;
}
#mainLocationsDiv {
  border: 1px solid rgb(224, 224, 224);
  overflow: auto;
  height: 500px;
  width: 100%;
}
.location_card {
  padding: 6px;
  border-bottom: 1px solid rgb(224, 224, 224);
  transition: 0.3s;
  cursor: pointer;
}
.location_card h3 {
  font-family: "Playfair Display", serif;
  color: #3b3c36;
  font-weight: 530;
  font-size: 1.15rem;
}
.location_card p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #a9a9a9;
  font-size: 0.77rem;
}
.location_card:hover {
  background-color: rgb(249, 249, 249);
}
#sensors_data {
  padding: 5px 20px 5px 20px;
  text-align: center;
}
#mainSensorsDiv {
  border: 1px solid rgb(224, 224, 224);
  width: 100%;
  min-height: 500px;
  /* max-height: fit-content; */
          
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #00bfff;
  padding: 10px 0px 0px 5px;
}
#socialIcons {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
}
#socialIcons a {
  margin: 5px 16px 5px 16px;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
#bottomFooter {
  background-color: #00bfff;
  /* box-shadow: 0.3; */
  /* bottom: 0; */
  /* position: fixed; */
  /* width: 100%; */
  /* left: 0; */
  padding: 0px 9px 9px 9px;
  text-align: center;
}

@media screen and (max-width: 1299px) {
  /* #menu {
    visibility: visible;
  }
  #navbar {
    visibility: hidden;
  } */
  #center-body {
    grid-template-columns: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 760px) {
  #menu {
    visibility: visible;
  }
  #navbar {
    visibility: hidden;
  }
}

/* IPAD */
@media screen and (max-width: 770px) {
  /* #menu {
    visibility: visible;
  }
  #navbar {
    visibility: hidden;
  } */
  #center-body {
    grid-template-columns: 100%;
    padding: 10px;
  }
  footer {
    left: 0;
    bottom: 0;
    position: relative;
  }
  #locations_data {
    padding: 5px;
  }
  #sensors_data {
      padding: 5px;
      text-align: center;
    margin-bottom: 30px;
  }
  #menu {
    margin: 30px 0 20px 10px;
  }
}


/* IPhone */
@media screen and (max-width: 500px) {
  #center-body {
    grid-template-columns: 100%;
    padding: 4px;
  }
  footer {
    left: 0;
    bottom: 0;
    position: relative;
  }
  #locations_data {
    padding: 5px;
  }
  #sensors_data {
      padding: 5px;
      text-align: center;
    margin-bottom: 30px;
  }
  /* #menu {
    margin: 30px 0 20px 10px;
  } */
}
